WEB-INF/wsdl/RoadCompensationService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.checc.com/demo/namespace/compensationservice/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompensationService"
    targetNamespace="http://www.checc.com/demo/namespace/compensationservice/">
    <!-- 定义webservice使用的数据类型 -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.checc.com/demo/namespace/compensationservice/" >
            <xsd:element name="compensation">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="year" type="xsd:int" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="compensationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" maxOccurs="unbounded" type="tns:compensationResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:complexType name="compensationResult">
                <xsd:sequence>
                    <xsd:element name="amounts" type="xsd:decimal" />
                    <xsd:element name="year" type="xsd:int" />
                    <xsd:element name="month" type="xsd:int" />
                    <xsd:element name="longitude" type="xsd:double" />
                    <xsd:element name="latitude" type="xsd:double" />
                    <xsd:element name="areaCode" type="xsd:string" />
                    <xsd:element name="areaName" type="xsd:string" />
                    <xsd:element name="typeCode">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="030101" />
                                <xsd:enumeration value="030102" />
                                <xsd:enumeration value="030103" />
                                <xsd:enumeration value="030104" />
                                <xsd:enumeration value="030105" />
                                <xsd:enumeration value="030106" />
                                <xsd:enumeration value="030107" />
                                <xsd:enumeration value="030108" />
                                <xsd:enumeration value="030109" />
                                <xsd:enumeration value="030110" />
                                <xsd:enumeration value="030111" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="typeName" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="compensation">
        <wsdl:part name="parameter" element="tns:compensation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="compensationResponse">
        <wsdl:part name="parameter" element="tns:compensationResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="ICompensationService">
        <wsdl:operation name="compensation">
            <wsdl:input message="tns:compensation" />
            <wsdl:output message="tns:compensationResponse" />
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="compensationServiceSOAP" type="tns:ICompensationService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="compensation">
            <soap:operation soapAction="http://www.checc.com/demo/namespace/compensationservice/compensation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="CompensationService">
        <wsdl:port name="CompensationServiceSOAP" binding="tns:compensationServiceSOAP">
            <soap:address location="http://localhost:8080/fujian-demo/service/RoadCompensationService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>